<h1 align="center"><%= room.displayName %></h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Devices</h4>
                    <p class="category">All Registered Devices</p>
                </div>
                <div class="content">
                    <ul>

                        <%
                        if(room.devices != undefined) { 
                        for(var i = 0; i<room.devices.length; i++) {%>
                        <li> <%= room.devices[i]%> </li>

                      <!--   <div class="device" id="<%= room.devices[i]%>">
                            <li style="list-style: none"> <%= room.devices[i]%> </li>

                        </div>
                        <div id="<%= room.devices[i]%>detail" class="deviceDetail">
                                <h1><%= room.devices[i]%></h1>
                                <input id="slider" type="range" class="span2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide">
                        </div> -->
                        <%}
                    }%>
                    </ul>
                    <div id="addDeviceInput" class="input-group">
                        <span class="input-group-addon" style="border: none">Add New Device</span>
                        <input  id="macInfo" type="text" class="form-control" placeholder="MAC Address">
                        <button id="addDevice" current-room-id="<%-room._id%>" type="button" class="btn btn-info">Add</button>
                        <button type="button" id="cancelAdd" class="btn btn-danger">Cancel</button>
                    </div>  
                    <div id="deleteDevice" class="input-group">
                        <span class="input-group-addon" style="border: none">Remove a Device</span>
                        <input  id="remove" type="text" class="form-control" placeholder="MAC Address">
                        <button id="deleteDevice" type="button" class="btn btn-info">Add</button>
                        <button type="button" id="cancelDelete" class="btn btn-danger">Cancel</button>
                    </div> 
                    <div id="container" class="addButtonContainer">
                        <span id="addButton" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span id="subtractButton" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </div>      
                </div>
            </div>
        </div>
        <!-- This card will be for monitoring activity in room -->
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Room Activity</h4>
                    <p class="category">Movement in room from last 30 minutes</p>
                </div>
                <div class="content">
                </div>
            </div>
        </div>

        
    </div>
    <div class="row calendar-container">
            <% include ../partials/calendar %>
        </div>
</div>